body
{
    font-family: 'Poppins', sans-serif;
}

.section-header
{
    color: #0F3C7A;
    font-size: 56px;
    font-weight: 500;
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 3%;
    width: 100%;
    background-image: url('assets/heading-placeholder.png');
    background-repeat: no-repeat;
    background-size: 300px, 100px; 
    background-position: calc(50% - 110px) 50%;
    /* background-position: -5% 0, center; */
    /* margin-left: -108px; */
}

.section-inner
{
    height: 100%;
    position: relative;
}


.tilt-div
{
    position: relative;
    z-index: 1;
    margin-left: -10%;
    /* padding-left: 5%; */
    padding-top: 7%;
    background: #EBF5FF;
    height: 80%;
    width: 120%;
    transform: rotate(-8deg);
}
.content-div
{
    display: flex;
    align-items: center;
    /* border: solid 1px black; */
    margin-top: 5%;
    width: 60%;
    /* text-align: center; */
    height: 85%;
    margin: auto;
    transform: rotate(8deg);
}
.content-div p
{
    font-size: 22px;
    width: 50%;
    margin-left: 4%;
}
#about-placeholder
{
    width: 50%;
}
#placeholder-img
{
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.rocket
{
    position: relative;
    z-index: 1;
    /* position: absolute; */
    width: 1150px;
    height:690px;
    max-height: 87vh;
    margin-right: 0%;
    margin-left: 25%;
    margin-top: -36.5%;
    /* margin-top: 0%; */
}
.logo
{
    margin-right: 3%;
    width: 200px;
    height: 60px;
}
.cloud
{
    position: relative;
    z-index: 2;
    /* position: absolute; */
    height: 550px;
    width: 800px;
    margin-top: -800px;
}
.cloud-right{
    position: absolute;
    width:700px;
    height: 500px;
    margin-left: 61%;
    margin-top: -132px;
}
#siteNav
{
    width: 100%;
    display: flex;
    position: relative;
    z-index: 3;
    flex-wrap: nowrap;
    align-items: space-between;
    text-align: center;
    padding-top: 2%;
    /* border: solid 1px black; */
}
.nav-link
{
    list-style: none;
    /* border: solid 1px black; */
    width: 65%;
}
.nav-link li
{
    display: inline;
    padding:20px;
    margin-left:30px;
}
.nav-link li a
{
    text-decoration: none;
    color:#696969;
}
.regbutton 
{
    margin-left: 8%;
    color: #ffffff !important;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
    line-height: 30px;
    border: none;
    min-width: 185px;
    position: relative;
    z-index: 3;
    border-radius: 25px;
    background-color: #0F3C7A ;
    box-shadow: 0 4px 4px 2px #59D4FB;
    /* transition: color 0.3s, background-image 0.5s, ease-in-out; */
}
.home-text
{
    flex-direction: column;
    display: flex;
    z-index: 2;
    margin-top: 14%;
    position: relative;
    width: 35%;
    height: 35%;
    margin-left: 8%;
    /* border: solid 1px black; */
}
.heading
{
    font-size: 40px;
}
#fp-nav ul li a span{
    background-color: #0F3C7A;
}
.h-placeholder{
    height: 8%;
    width: 12%;
    z-index: 1;
    display:inline-block;
    margin-left: 40%;
    margin-top: -23px;
}

