@media only screen and (max-width: 1400px)
{
    .rocket
    {
        margin-left: 22% !important;
        margin-top: -38% !important;
    }
    .nav-link li
    {
        margin-left: 20px !important;
    }
}
@media only screen and (max-width: 1240px)
{
    .rocket
    {
        margin-left: 13% !important;
        margin-top: -40% !important;
    }
    .nav-link li
    {
        margin-left: 12px !important;
    }

} 
@media only screen and (max-width: 1150px)
{
    .nav-link li
    {
        margin-left: -5px !important;
    }
    .rocket
    {
        margin-left: 6% !important;
    }
    .prizes-content-div
    {
        transform: rotate(8deg);
        flex-direction: column;
        margin-top: -2% !important;
        /* border: solid 1px black; */
        height: 95% !important;
    }
    .prizes-box
    {
        transform: rotate(0deg) !important;
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 36px !important;
    }
    .prize-box-laptop
    {
        width: 96px;
        height: 80px;
        top: -40% !important;
    }
    .mobile-prizes-content-div
    {
        display: flex !important;
    }
} 



@media only screen and (max-width: 920px) 
{
    .section-inner
    {
        display: none;
    }
    .mobile-section-inner
    {
        display: block;
    }
}
@media only screen and (min-width: 920px) 
{
    .section-inner
    {
        display: block;
    }
    .mobile-section-inner
    {
        display: none;
    }
}

@media only screen and (min-width: 700px)
{
    .mobile-prizes-content-div
    {
        margin-top: -5%;
    }
} 

body
{
    font-family: 'Poppins', sans-serif;
}

.section-header
{
    position: relative;
    z-index: 2;
    color: #0F3C7A;
    font-size: 56px;
    font-weight: 500;
    text-align: center;
    margin-top: 0.8%;
    margin-bottom: 2%;
    width: 100%;
    background-origin: content-box;
    background-image: url('assets/heading-placeholder.png');
    background-repeat: no-repeat;
    background-size: 250px, 100px; 
    background-position: calc(50% - 80px) 50%;
    background-position-y: -15% !important;
}
.mobile-section-header
{
    color: #0F3C7A;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    /* margin-top: 0.8%; */
    margin-bottom: 4%;
    width: 100%;
    background-origin: content-box;
    background-image: url('assets/heading-placeholder.png');
    background-repeat: no-repeat;
    background-size: 175px, 70px; 
    background-position: calc(50% - 80px) 50%;
    background-position-y: -15% !important;
}


.section-inner
{
    height: 100%;
    position: relative;
}

.mobile-section-inner
{
    margin-top: -20% !important;
    /* text-align: center; */
    /* border: solid 1px black; */
    height: 80%;
}

.tilt-div
{
    position: relative;
    z-index: 1;
    margin-left: -10%;
    /* padding-left: 5%; */
    padding-top: 7%;
    background: #EBF5FF;
    height: 80%;
    width: 120%;
    transform: rotate(-8deg);
}
.mobile-tilt-div
{
    position: relative;
    z-index: 1;
    margin-left: -10%;
    /* padding-left: 5%; */
    padding-top: 7%;
    background: #EBF5FF;
    height: 90% !important;
    width: 120%;
    transform: rotate(-8deg);
}
.content-div
{
    display: flex;
    align-items: center;
    /* border: solid 1px black; */
    margin-top: 5%;
    width: 60%;
    /* text-align: center; */
    height: 85%;
    margin: auto;
    transform: rotate(8deg);
}
.mobile-content-div
{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* border: solid 1px black; */
    margin-top: 5%;
    width: 60%;
    /* text-align: center; */
    height: 85%;
    margin: auto;
    transform: rotate(8deg);
}
.content-div p
{
    font-size: 22px;
    width: 50%;
    margin-left: 4%;
}
.mobile-content-div p
{
    font-size: 16px;
    /* width: 50%; */
    margin-top: 8%;
}
#about-placeholder
{
    width: 50%;
}
#mobile-about-placeholder
{
    margin-top: 3%;
    width: 270px;
    height: 180px;
    border-radius: 20px;
}
#placeholder-img
{
    border-radius: 20px;
    width: 100%;
    height: auto;
}

.rocket
{
    position: relative;
    z-index: 1;
    /* position: absolute; */
    width: 1150px;
    height:690px;
    max-height: 87vh;
    margin-right: 0%;
    margin-left: 25%;
    margin-top: -33.5%;
    /* margin-top: 0%; */
}
.mobile-logo{
    margin-right: 1%;
    width: 200px;
    height: 60px;
    margin-top: 1%;
    margin-left: 40px;
}
.logo
{
    margin-right: 3%;
    width: 200px;
    height: 60px;
}
.cloud
{
    position: relative;
    z-index: 2;
    /* position: absolute; */
    height: 550px;
    width: 800px;
    margin-top: -800px;
}
.cloud-right{
    position: absolute;
    width:700px;
    height: 500px;
    margin-left: 61%;
    margin-top: -132px;
}
#mobile-sitenav{
    width: 100%;
    display: flex;
    position: relative;
    z-index:3;
    flex-wrap: nowrap;
    /* align-items: space-between; */
    text-align: center;
    padding-top: 1%;
}
#siteNav
{
    width: 100%;
    display: flex;
    position: relative;
    z-index: 3;
    flex-wrap: nowrap;
    align-items: space-between;
    text-align: center;
    padding-top: 2%;
    /* border: solid 1px black; */
}

.nav-link
{
    list-style: none;
    /* border: solid 1px black; */
    width: 65%;
}
.nav-link li
{
    display: inline;
    padding:12px;
    margin-left:25px;
}
.nav-link li a
{
    text-decoration: none;
    color:#696969;
}
.sub-button{
    margin-left: 30%;
    color: #ffffff !important;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
    line-height: 30px;
    border: none;
    min-width: 155px;
    position: relative;
    z-index: 3;
    border-radius: 25px;
    background-color: #0F3C7A ;
    margin-bottom: 2%;
    /* box-shadow: 0 4px 4px 2px #59D4FB; */
}
.regbutton 
{
    margin-left: 8%;
    color: #ffffff !important;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
    line-height: 30px;
    border: none;
    min-width: 185px;
    position: relative;
    z-index: 3;
    border-radius: 25px;
    background-color: #0F3C7A ;
    box-shadow: 0 4px 4px 2px #59D4FB;
    /* transition: color 0.3s, background-image 0.5s, ease-in-out; */
}
.mobile-home-text{
    flex-direction: column;
    display: flex;
    z-index: 2;
    margin-top: 24%;
    position: relative;
    width: 35%;
    height: 35%;
    margin-left: 8%;
    /* border: solid 1px black; */
}
.home-text
{
    flex-direction: column;
    display: flex;
    z-index: 2;
    margin-top: 14%;
    position: relative;
    width: 35%;
    height: 35%;
    margin-left: 8%;
    /* border: solid 1px black; */
}
.heading
{
    font-size: 38px;
}
#fp-nav ul li a span{
    background-color: #0F3C7A;
}
.h-placeholder{
    height: 8%;
    width: 12%;
    z-index: 1;
    display:inline-block;
    margin-left: 40%;
    margin-top: -23px;
}
.ques{
    background-color: #0F3C7A;
    color: #ffffff;
    width: 30%;
    height: 3em !important;
    text-align: center;
    margin-left: 16% !important;
    margin: 0.5%;
    display: inline-block;

}
.mobile-ques{
    background-color: #0F3C7A;
    color: #ffffff;
    width: 70%;
    height: 3em !important;
    text-align: center;
    margin-left: 13% !important;
    margin: 1%;
    display: inline-block;
    margin-top: 3% !important;

}
.mobile-faq-div{
    flex-direction: column;
    display: flex;
    margin-top: 6.5%;
    margin: auto;
    margin-left: 3%;
}
@media (min-width:300px) and (max-width:330px){
    .mobile-faq-div{
        margin-top: 10% !important;
    }
    .mobile-ques{
        height: 2.5em !important;
        margin-top: 2%;
    }
}

/* .ques1{
    background-color: #0F3C7A;
    color: #ffffff;
    width: 30%;
    height: 3em !important;
    text-align: center;
    margin-left: 20% !important;
    margin: 1%;
    display: inline-block;
} */
.faq-div{
    margin-top: 6.5%;
}
h6{
    margin-top: 2.5%;
}
#ques1{
    margin-left: 5% !important;
}
.daybutton{
    transition: all 0.2s;
    margin-left: 4%;
    margin-right: 4%;
    color: #ffffff !important;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0 30px;
    line-height: 30px;
    border: none;
    min-width: 150px;
    position: relative;
    z-index: 3;
    border-radius: 25px;
    background-color: #84B4FE;
    box-shadow: 0 4px 4px 2px #59D4FB;
}
.daybutton:hover, .daybutton:active{
    transition: all 0.2s;
    background-color: #0F3C7A;
}
.sch{
    /* margin-left:20%; */
    margin: auto;
    text-align: center;
    width: 90%;
}
.time{
    margin-left: 30%;
    color: #696969;
}
hr{
    width: 45%;
    border-top: none;
    border-bottom: 1px solid black;
}
/* #para{
    margin-left: 30%;
} */
.schedule-div{
    margin-top: 5%;
}
#schedule-wrapper
{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto !important;
    width: 80%; 
    /* border: solid 1px black; */
}
.timeline{
    width: 30%;
    margin-left: 2%;
    /* margin-bottom: -3%; */
}
.full-cloud{
    height: 35%;
    width: 45%;
    z-index:1;
    margin-left: 26%;
    margin-top: -403px;
    
}
.sch-text{
    z-index:2;
   
}
.active1{
    background-color: #0F3C7A;
}

.track-div
{
    /* border: solid 1px black; */
    display: flex;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-bottom: 1% !important;
}
.track-image-left
{
    width: 400px;
    height: 270px;
    margin-left: 2%;
    border-radius: 24px;
}
.track-image-right
{
    max-width: 400px;
    max-height: 270px;
    margin-right: 2%;
    border-radius: 24px;
}
.track-text
{
    font-size: 22px;
}
.github-logo-style
{
    width: 270px;
    height: 100px;
}
.matic-logo-style
{
    width: 300px;
    height: 72px;
}
.mobile-github-logo-style
{
    width: 175.5px;
    height: 65px;
}
.mobile-matic-logo-style
{
    width: 175px;
    height: 40px;
}
.mobile-logoDiv
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logoDiv
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.prizes-box
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 2px 2px 2px #ccc;
    border-radius: 14px;
    width: 25%;
    height: 55%;
    min-width: 300px;
    color:#0F3C7A;
    font-weight: 500;
    font-size: 44px;
    vertical-align: middle;
    transform: rotate(8deg);

}
.prizes-box:nth-child(2)
{
    background-color:#DFEEFB;    ;
}
.prizes-content-div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* border: solid 1px black; */
    /* margin-top: 5% !important; */
    width: 70%;
    /* text-align: center; */
    height: 85%;
    margin: auto;
    /* transform: rotate(8deg); */
}
.mobile-prizes-content-div
{
    display: none;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    /* border: solid 1px black; */
    /* margin-top: 5% !important; */
    width: 70%;
    /* text-align: center; */
    height: 95%;
    margin: auto;
    transform: rotate(8deg);
}
.mobile-prizes-box
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 2px 2px 2px #ccc;
    border-radius: 14px;
    width: 70%;
    height: 45%;
    min-height: 100px;
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    min-width: 220px;
    max-width: 300px !important;
    color:#0F3C7A;
    font-weight: 500;
    font-size: 32px;
    vertical-align: middle;
    /* transform: rotate(8deg); */

}
.mobile-prize-box-laptop
{
    position: absolute;
    top: -40%;
    right: 3%;
    height: 96px;
    width: 80px;
}
.mobile-prizes-box:nth-child(2)
{
    background-color:#DFEEFB;    ;
}
.prize-box-laptop
{
    position: absolute;
    top: -30%;
    right: 4%;
    height: 120px;
    width: 100px;
}
/* .prizes-background-dots
{
    position: absolute;
    right: 15%;
    width: 450px;
    height: 290px;
} */
/* #fp-nav span{
    background-color: white !important;
    border: 0.01rem solid black !important;
    display: none;
}
.navbar{
    height: 10vmax;
    color: #696969;
    
}
.navbar-brand {
    box-shadow: 12px 6px;
    letter-spacing: 0.3rem;
    border-radius: 5px;
    font-size: 25px !important;
    margin-top: -5vmin;
}
.nav-link{
    
    font-size: 20px !important;
}
.nav-item:hover{
    background-color: rgba(255,255,255,0.075);
    border-radius: 5px;
}
@media (min-width: 576px) {
    .navbar{
        height: 9vmax;
    }

}

.navbar-toggler{
    background: transparent;
    border: 1px solid black;
}

.navbar-toggler-icon{
    color: black;
    background: black;
    height: 2px;
    flex-direction: column;
    display: flex;
    margin: 5px;
} */
.form-group{
    border: 0.5px solid #696969;
    margin-top: 2%;
    width: 50%;
    margin-left:3%;
    padding: 10px;
}
.form-control{
    width: 90%;
    margin-left: 3%;
    margin-top: 1%;
}
.label-form{
    margin-left: 3%;
    margin-bottom: 1px;
}
.email-div{
    margin-top: 2%;
    margin-left: 10%;
    box-shadow: 1px 1px 2px 2px #696969;
    width: 30%;
    border-radius: 20px;
    /* margin-bottom: 1%; */
    /* padding: 30px; */
    

}
.contact-icon{
    flex-direction: column;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius:20px;
}
.contact{
    margin:2%;
    margin-left: 15%;
    /* margin-top: 4%; */
}